EmployClientDemo/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployServiceCRUD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployServiceCRUD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfemp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="emp" nillable="true" type="tns:emp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfemp" nillable="true" type="tns:ArrayOfemp" />
  <xs:complexType name="emp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Basic" type="xs:int" />
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empno" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="emp" nillable="true" type="tns:emp" />
</xs:schema>